.main-div {
  display: flex;
}
.first-div {
  width: 200px;
  height: 200px;
  border: 1px red solid;
}
.second-div {
  width: 200px;
  height: 200px;
  border: 1px red solid;
}
.img {
  width: 200px;
  height: 200px;
  border: 1px red solid;
}
