.main {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 5px 20px rgba(11, 55, 77, 0.05);
}

.container {
  width: 100%;
}

.main-head {
  box-shadow: 0px 5px 20px rgba(11, 55, 77, 0.05);
  padding-bottom: 40px;
}

.sidecon {
  display: flex;
  padding-right: 30px;
}

.icon1 {
  padding-bottom: 5px;
}
.dash p {
  padding-top: 5px;
  color: #092a77;
}

.dash1 p {
  padding-top: 5px;
  color: #99abb4;
}

.country p {
  font-size: 20px;
  font-weight: 500;
  padding-left: 20px;
}
.box {
  width: 95vw;
  height: 100vh;
  margin: 1rem;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  
}
.blue-box {
  width: 100%;
  height: 100px;
  background-color: #092a77;
  display: flex;
  gap: 30px;
}
.image{
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 70px;
    height: 120px;
    width: 120px;

}
.para{
    color: white;
    font-size: 18px;
    margin-top: 70px;
    margin-left: 50px;
    font-weight: 500;
    
}
.horizontal{
  width: 97%;
  padding-left: 40px;
  
}
.info{
  display: flex;
  justify-content: center;
  padding-top: 60px;
  gap: 20px;
}
.inform{
  border: 1px solid #092a77;
  width: 100px;
  height: 30px;
  padding-top: 5px;
  text-align: center;
  border-radius: 5px;
}
.inform:hover{
  background-color: #092a77;
  color: white;
}
.ride:hover{
  background-color: #092a77;
  color: white;
}
.ride{
  border: 1px solid #092a77;
  width: 100px;
  height: 30px;
  padding-top: 5px;
  text-align: center;
  border-radius: 5px;
}
.minicontainer {
  font-family: sans-serif;
}

.minimain-page {
  width: 95vw;
  height: 400px;
  margin: 1rem;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.phone {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
}

.phone1 {
  border: 1px solid #F3F3F3;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  ;
  background: #FFFFFF;
  width: 350px;
  height: 80px;
  border-radius: 5px;
  padding-top: 8px;
  padding-left: 20px;
  line-height: 2;
}

.email {
  border: 1px solid #F3F3F3;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  background: #FFFFFF;
  width: 350px;
  height: 80px;
  border-radius: 5px;
  padding-top: 8px;
  padding-left: 20px;
  line-height: 2;
}

.status {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
}

.stat {
  border: 1px solid #F3F3F3;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  background: #FFFFFF;
  width: 350px;
  height: 80px;
  border-radius: 5px;
  padding-top: 8px;
  padding-left: 20px;
  line-height: 2;
}

.creat {

  border: 1px solid #F3F3F3;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  background: #FFFFFF;
  width: 350px;
  height: 80px;
  border-radius: 5px;
  padding-top: 8px;
  padding-left: 20px;
  line-height: 2;
}

.edit {
  border: 1px solid #F3F3F3;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  background: #FFFFFF;
  width: 350px;
  height: 80px;
  border-radius: 5px;
  padding-top: 8px;
  padding-left: 20px;
  line-height: 2;
}

.edited {
  padding-left: 365px;
  padding-top: 20px;
}

.disable {
  border: 1px solid #f00;
  width: 170px;
  padding-left: 20px;
  height: 30px;
  background: #f00;
  color: white;
  border-radius: 5px;
}
.disable:hover{
  background-color: #092a77;
  color: white;
  border: 1px solid #092a77 ;
}

.disa {
  padding-left: 365px;
  padding-top: 20px;
}

.btn {
  width: 80px;
  height: 30px;
  background-color: #008000;
  color: white;
  border-radius: 3px;
}
.maxcontainer {
  font-family: sans-serif;
}

.maxmain-page {
  width: 95vw;
  height: 200px;
  margin: 2rem;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.result {
  text-align: center;
  padding-top: 80px;
  color: #99ABB4;
}
.no{
  padding-top: 50px;
  padding-left: 650px;
}
