.checkbox {
    width: 20px;
    height: 20px;
}

.main {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0px 5px 20px rgba(11, 55, 77, 0.05);
}

.container {
    width: 100%;
    font-family: sans-serif;
}

.main-head {
    box-shadow: 0px 5px 20px rgba(11, 55, 77, 0.05);
    padding-bottom: 40px;

}

.sidecon {
    display: flex;
    padding-right: 30px;
}

.dash p {
    padding-top: 5px;
    color: #092a77;
}

.dash1 p {
    padding-top: 5px;
    color: #99ABB4;
}

.country p {
    font-size: 22px;
    font-weight: 520;
    padding-left: 20px;
}
.admin{
    border: 1px solid #092a77;
    background-color: #092a77;
    color: white;
    height: 30px;
    width: 180px;
    border-radius: 5px;
    padding-top: 5px;
    padding-left: 15px;

    
    
}
.type p{
    font-size: 16px;
}


.legend{
    width: 80vw;
    height: 300px;
    padding-left: 160px;
    border-radius: 30px;
    padding: 5px 10px;
    margin: 7rem;
    
}
.background {
    box-shadow: 0px 5px 20px rgba(11, 55, 77, 0.05);
    width: 95vw;
    margin: 2rem;
    height: 350px;
    
}
.type{
    display: flex;
    padding-left: 30px;
    padding-top: 20px;
    gap: 20px;
    line-height: 2;

    
}
.save{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #092a77;
    background-color: #092a77;
    color: white;
    font-size: 18px;
    padding-left: 18px;
    padding-top: 5px;
}
.back{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #979797;
    background-color: #979797;
    color: white;
    font-size: 18px;
    padding-left: 18px;
    padding-top:5px ;

}
.field{
    height: 250px;
    padding: 10px;
    border-radius: 10px;
    width: 65vw;
    margin-left: 100px;
    margin-bottom: 20px;

}
.check{
    display: flex;
    padding-top: 20px;
    padding-left: 30px;
    gap: 3px;
    

}
.check p{
    font-weight: 600;
}
.type p{
    font-weight: 600;
}
.name{
    width: 450px;
    height: 35px;
    border-radius: 5px;
    font-size: 16px;
    color: #666;
}
.input{
    width: 450px;
    height: 35px;
    padding: 6px 12px;
    border-radius: 5px;
}
.insert p{
    font-size: 13px;
    color: #99ABB4;
}
.btn{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 20px;

}
.saveicon{
    display: flex;
    text-align: center;
    gap:5px;
    border: 2px solid #092a77;
    background-color: #092a77;
    color: #ffffff;
    width: 100px;
    height: 40px;
    border-radius: 4px;
    
}
.saveicon p{
    padding-top: 8px;
    padding-left: 10px;
}
.backicon {
    display: flex;
    text-align: center;
    gap: 5px;
    border: 2px solid #979797;
    background-color: #979797;
    color: #ffffff;
    width: 100px;
    height: 40px;
    border-radius: 4px;

}

.backicon p {
    padding-top: 8px;
    padding-left: 10px;
}


