.head {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.side-head {
  display: flex;
  gap: 5px;
}
.landing {
  font-weight: 500;
}
.dash {
  font-size: 12px;
  margin-top: 3px;
}
.dash1 {
  font-size: 12px;
  margin-top: 3px;
  color: #555555;
}
.hr {
  color: #444444;
}
.side-head {
  color: #555555;
}
.main-box {
  width: 900px;
  height: 400px;
  overflow: auto;
  border: 1px solid black;
  margin-left: 1rem;
}
.box-head {
  display: flex;
  gap: 30px;
}
.box-head1 {
  display: flex;
  justify-content: space-between;
}
.side-head1 {
  font-size: 20px;
  margin-top: 100px;
  color: #555555;
  margin-left: 1rem;
}
.data1 {
  display: flex;
  justify-content: space-between;
}
.image {
  width: 150px;
  height: 70px;
}
.img-data {
  width: 200px;
  color: #555555;
  font-size: 15px;
  margin-right: -15px;
}
.img-data1 {
  width: 200px;
  color: #555555;
  font-size: 15px;
  margin-left: 15px;
}
.data2 {
  display: flex;
  margin-top: 100px;
  gap: 60px;
  height: 300px;
}
.data2-img {
  display: flex;
  gap: 5px;
}
.app {
  width: 130px;
  height: 40px;
}
.da1 {
  font-size: 30px;
}
.da2 {
  font-size: 10px;
}
.data21 {
  width: 350px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.car {
  width: 700px;
  height: 400px;
  margin-top: -100px;
}
.data3 {
  display: flex;
}
.car1 {
  width: 500px;
  height: 500px;
  margin-left: 30px;
}
.car1-data {
  width: 300px;
  margin-left: -20px;
}
.para1 {
  font-size: 20px;
  color: #555555;
}
.para2 {
  margin-top: 40px;
  color: #555555;
}
.como {
  margin: 3rem;
  margin-left: 400px;
  font-size: 20px;
}
.line {
  display: flex;
  gap: 50px;
  margin: 1rem;
}
.line-image {
  width: 35px;
  height: 50px;
  margin-left: 30px;
}
.line1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.line-img-data {
  font-size: 12px;
  color: #444444;
}
.line-img-data1 {
  font-size: 12px;
  color: #444444;
  margin-top: 25px;
}
.data4 {
  display: flex;
  gap: 30px;
}
.data4-img {
  width: 400px;
  height: 400px;
}
.data4-matter {
  font-size: 12px;
  color: #444444;
}
.data4-imagebox1 {
  width: 30px;
  height: 30px;
}
.data4-imgbox {
  display: flex;
}
.data4-image-matter {
  font-size: 12px;
  color: #444444;
}
.data4-in {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 30px;
}
.app1 {
  height: 50px;
  width: 180px;
}
.data5 {
  background-color: #343a40;
  width: 100%;
  height: 500px;
}
.data5-image {
  width: 180px;
  height: 50px;
  

}
