.Email {
    font-size: 25px;
    padding-left: 20px;
}

.container1 {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;

}
.container{
  box-shadow: 0px 5px 20px rgba(11, 55, 77, 0.05);
  height: 80px;
}

.main2 {
    display: flex;
    padding-right: 40px;
}

.tr {
    border: 1px solid black
}

.field {
    width: 80px;
    height: 80px;
    gap: 30px;
}

.table1 {
    border: 1px solid;
    border-color: #e4ebee;
    width: 92vw;
    border-collapse: collapse;
    box-shadow: #f8fafd;
    border-radius: 5px;


   

}

.filled {
    font-size: 15px;
    height: 60px;
    background: #f8fafd;
    padding-left: 5px;
    border: none;
    border-collapse: collapse;
    font-weight: 600;
  }
  
  
  .table {

    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
    width: 80vw;
    margin-left: 100px;
  }
  
  .tr{
    
    margin-top: 30px;

   
   font-weight: 00;
   font-size: 15px;
   padding: 20px;
   border-radius: 10px;
   
   border: 1px solid #f8fafd;

  }
  .for {
    gap: 70px;
    height: 80px;
    border: 1px solid #1b1c1d;
    border-color: rgba(155, 155, 155, 0.2);
    padding-left: 20px;
    
  }
  .main3{
    padding-left: -120px;
  }
  .main3{
    box-shadow: 0px 5px 20px rgba(11, 55, 77, 0.05);
    width: 95vw;
    margin: 2rem;
    border: 1px solid white;
  }
  .Email{
    padding-left: 120px;
  }
  .span{
    background-color: green;
  }

    


