.minicontainer {
    font-family: sans-serif;
}

.minimain-page {
    width: 95vw;
    height: 400px;
    margin: 1rem;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}

.phone {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 20px;
}

.phone1 {
    border: 1px solid #F3F3F3;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    ;
    background: #FFFFFF;
    width: 350px;
    height: 80px;
    border-radius: 5px;
    padding-top: 8px;
    padding-left: 20px;
    line-height: 2;
}

.email {
    border: 1px solid #F3F3F3;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    background: #FFFFFF;
    width: 350px;
    height: 80px;
    border-radius: 5px;
    padding-top: 8px;
    padding-left: 20px;
    line-height: 2;
}

.status {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 20px;
}

.stat {
    border: 1px solid #F3F3F3;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    background: #FFFFFF;
    width: 350px;
    height: 80px;
    border-radius: 5px;
    padding-top: 8px;
    padding-left: 20px;
    line-height: 2;
}

.creat {

    border: 1px solid #F3F3F3;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    background: #FFFFFF;
    width: 350px;
    height: 80px;
    border-radius: 5px;
    padding-top: 8px;
    padding-left: 20px;
    line-height: 2;
}

.edit {
    border: 1px solid #F3F3F3;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    background: #FFFFFF;
    width: 350px;
    height: 80px;
    border-radius: 5px;
    padding-top: 8px;
    padding-left: 20px;
    line-height: 2;
}

.edited {
    padding-left: 365px;
    padding-top: 20px;
}

.disable {
    border: 1px solid #f56062;
    width: 170px;
    padding-left: 20px;
    height: 30px;
    background: #f56062;
    color: white;
    border-radius: 5px;
}

.disable p {
    padding-top: 5px;

}

.disa {
    padding-left: 365px;
    padding-top: 20px;
}

.btn {
    width: 80px;
    height: 25px;
    background-color: #008000;
    color: white;
    border-radius: 3px;
}