.main {
  display: flex;
  justify-content: space-between;
  height: 0px;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 5px 20px rgba(11, 55, 77, 0.05);
}

.container {
  width: 100%;
}

.main-head {
  box-shadow: 0px 5px 20px rgba(11, 55, 77, 0.05);
  padding-bottom: 40px;
}

.sidecon {
  display: flex;
  padding-right: 30px;
}

.icon1 {
  padding-bottom: 5px;
}

.dash p {
  padding-top: 5px;
  color: #092a77;
}

.dash1 p {
  padding-top: 5px;
  color: #99abb4;
}

.country p {
  font-size: 20px;
  font-weight: 500;
  padding-left: 20px;
}

.box {
  width: 95vw;

  margin: 1rem;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;

}

.blue-box {
  width: 100%;
  height: 100px;
  background-color: #092a77;
  display: flex;
  gap: 30px;
}

.image {
  margin-top: 50px;
  margin-left: 50px;
  border-radius: 70px;
  height: 120px;
  width: 120px;

}

.para {
  color: white;
  font-size: 18px;
  margin-top: 70px;
  margin-left: 50px;
  font-weight: 500;

}

.horizontal {
  width: 97%;
  padding-left: 40px;

}

.info {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  gap: 20px;
}

.inform {
  border: 1px solid #092a77;
  width: 100px;
  height: 30px;
  padding-top: 5px;
  text-align: center;
  border-radius: 5px;
}

.inform:hover {
  background-color: #092a77;
  color: white;
}

.ride:hover {
  background-color: #092a77;
  color: white;
}

.ride {
  border: 1px solid #092a77;
  width: 100px;
  height: 30px;
  padding-top: 5px;
  text-align: center;
  border-radius: 5px;
}

.veh {
  border: 1px solid #092a77;
  width: 100px;
  height: 30px;
  padding-top: 5px;
  text-align: center;
  border-radius: 5px;
}

.veh:hover {
  background-color: #092a77;
  color: white;
}

.wallet:hover {
  background-color: #092a77;
  color: white;
}

.wallet {
  border: 1px solid #092a77;
  width: 180px;
  height: 30px;
  padding-top: 5px;
  text-align: center;
  border-radius: 5px;
}

.minicontainer {
  font-family: sans-serif;
}

.minimain-page {
  width: 95vw;

  margin: 1rem;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.phone {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
}

.phone1 {
  border: 1px solid #F3F3F3;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  ;
  background: #FFFFFF;
  width: 350px;
  height: 80px;
  border-radius: 5px;
  padding-top: 8px;
  padding-left: 20px;
  line-height: 2;
}

.email {
  border: 1px solid #F3F3F3;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  background: #FFFFFF;
  width: 350px;
  height: 80px;
  border-radius: 5px;
  padding-top: 8px;
  padding-left: 20px;
  line-height: 2;
}

.status {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
}

.status1 {
  display: flex;
  gap: 30px;
  padding-left: 330px;
  padding-top: 30px;

}

.stat {
  border: 1px solid #F3F3F3;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  background: #FFFFFF;
  width: 350px;
  height: 80px;
  border-radius: 5px;
  padding-top: 8px;
  padding-left: 20px;
  line-height: 2;
}

.creat {

  border: 1px solid #F3F3F3;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  background: #FFFFFF;
  width: 350px;
  height: 80px;
  border-radius: 5px;
  padding-top: 8px;
  padding-left: 20px;
  line-height: 2;
}

.edit {
  border: 1px solid #F3F3F3;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  background: #FFFFFF;
  width: 350px;
  height: 80px;
  border-radius: 5px;
  padding-top: 8px;
  padding-left: 20px;
  line-height: 2;

}

.edited {
  padding-left: 365px;
  padding-top: 20px;

}

.disable {
  border: 1px solid #f56062;
  width: 170px;
  padding-left: 20px;
  height: 30px;
  background: #f56062;
  color: white;
  border-radius: 5px;
}

.disable p {
  padding-top: 5px;

}

.disa {
  padding-left: 365px;
  padding-top: 20px;
}

.btn {
  width: 80px;
  height: 25px;
  background-color: #008000;
  color: white;
  border-radius: 3px;
}

.container1 {
  font-family: sans-serif;
  height: 100vh;
}

.main-page1 {
  width: 95vw;
  height: 800px;
  margin: 1rem;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.phone1 {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
}

.table {
  border: 1px solid;
  border-color: #e4ebee;
  width: 92vw;
  border-collapse: collapse;
  box-shadow: #f8fafd;
  border-radius: 5px;


}

.table1 {
  background-color: #f8fafd;
  font-weight: 600;
  height: 80px;
  box-shadow: #f8fafd;
  padding-left: 20px;



}

.tr {
  border: 1px solid #e4ebee;
  height: 80px;
  font-size: 15px;
  font-weight: 400;
  box-shadow: #f8fafd;


}

.th {
  border: 1px solid#e4ebee;
  height: 80px;
  font-size: 15px;
  font-weight: 400;

}

.th1 {
  border: 1px solid#e4ebee;
  height: 80px;
  font-size: 15px;
  font-weight: 400;
  padding-left: 20px;

}

.th2 {
  border: 1px solid#e4ebee;
  height: 80px;
  font-size: 15px;
  font-weight: 400;
  padding-left: 20px;

}

.th3 {
  border: 1px solid#e4ebee;
  height: 80px;
  font-size: 15px;
  font-weight: 400;
  padding-left: 20px;
  width: 150px;

}

.th4 {
  border: 1px solid#e4ebee;
  height: 80px;
  font-size: 15px;
  font-weight: 400;
  padding-left: 20px;

}

.th5 {
  border: 1px solid#e4ebee;
  height: 80px;
  font-size: 15px;
  font-weight: 400;
  padding-left: 20px;

}

.icon-around {
  width: 30px;
  height: 30px;
  background-color: #e9e5e5;
  border-radius: 100%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit {
  width: 30px;
  height: 30px;
  background-color: #f56062;
  border-radius: 100%;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action {
  display: flex;
  padding-left: 20px;
  gap: 5px;
}

.complt {
  width: 120px;
  height: 30px;
  background-color: #5dca95;
  color: white;
  border-radius: 20px;
  border: 1px solid #5dca95;
}

.container2 {
  font-family: sans-serif;
  margin: 3rem;

}
.cont1{
  display: flex;
  gap: 40px;
  border: 1px soild black;
}

.main-page2 {
  width: 95vw;
  
  margin: 3rem;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.phone2 {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
}

.phone1 {
  border: 1px solid #F3F3F3;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  background: #FFFFFF;
  width: 600px;
  height: 80px;
  border-radius: 5px;
  padding-top: 8px;
  padding-left: 20px;
  line-height: 2;
}

.email {
  border: 1px solid #F3F3F3;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  background: #FFFFFF;
  width: 600px;
  height: 80px;
  border-radius: 5px;
  padding-top: 8px;
  padding-left: 20px;
  line-height: 2;
}

.status {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
}

.stat {
  border: 1px solid #F3F3F3;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  background: #FFFFFF;
  width: 600px;
  height: 80px;
  border-radius: 5px;
  padding-top: 8px;
  padding-left: 20px;
  line-height: 2;
}

.creat {

  border: 1px solid #F3F3F3;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  background: #FFFFFF;
  width: 600px;
  height: 80px;
  border-radius: 5px;
  padding-top: 8px;
  padding-left: 20px;
  line-height: 2;
}

.edit {
  border: 1px solid #F3F3F3;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  background: #FFFFFF;
  width: 600px;
  height: 80px;
  border-radius: 5px;
  padding-top: 8px;
  padding-left: 20px;
  line-height: 2;
}

.edited {
  padding-left: 115px;
  padding-top: 20px;
}

.disable {
  border: 1px solid #008000;
  width: 170px;
  padding-left: 20px;
  height: 30px;
  background: #008000;
  color: white;
}

.disable p {
  padding-top: 5px;

}

.disa {
  padding-left: 365px;
  padding-top: 20px;
  display: flex;
  gap: 30px;
}


.edited {
  display: flex;
  gap: 30px;
}

.vehicle {
  display: flex;
  gap: 30px;
  padding-top: 20px;
  padding-left: 115px;
}

.brand {
  font-weight: 600;
}